<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/AdventureWorks.csdl|res://*/AdventureWorks.ssdl|res://*/AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EDAYARANMULA-PC\;Initial Catalog=AdventureWorks;User Id=testinggroundagent; Password=123456789;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AdventureWorksEntities" connectionString="metadata=res://*/AdventureWorks.csdl|res://*/AdventureWorks.ssdl|res://*/AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GAATLITDEVR668W\;Initial Catalog=AdventureWorks;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.serviceModel>
		<services>
   <service behaviorConfiguration="SOS.ServiceImplementation.AdventureWorksService_Behavior"
    name="SOS.ServiceImplementation.AdventureWorksService">
    <endpoint address="" binding="basicHttpBinding" name="DefaultEndpoint"
     bindingNamespace="http://MyTestingGroundService.Model/2011/MyTestingGroundService"
     contract="SOS.ServiceContracts.IEmployeeServiceContract" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
		<behaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="SOS.ServiceImplementation.AdventureWorksService_Behavior">
     <serviceDebug includeExceptionDetailInFaults="false" />
     <serviceMetadata httpGetEnabled="true" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
